cycler==0.10.0
dataclasses==0.6
dataclasses-json==0.3.6
kiwisolver==1.1.0
marshmallow==3.2.2
marshmallow-enum==1.5.1
matplotlib==3.1.1
mypy-extensions==0.4.3
numpy==1.17.4
packaging==19.2
prettytable==0.7.2
pygltflib==1.11.10
pyparsing==2.4.5
python-dateutil==2.8.1
scikit-build==0.10.0
six==1.13.0
stringcase==1.2.0
typing-extensions==3.7.4.1
typing-inspect==0.5.0
vtk==8.1.2
